@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.nav-buttons{
             margin-left: 25%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
     font-family: 'poppins',sans-serif ;
}
body nav .hey{
              background-color: rgb(253, 229, 220)  ;
}
.bg-e{
  color:rgba(83, 185, 126, 0.993);
  font-family: elephant;
  font-weight: bold;
}
.bg-e:hover{
       color:rgba(83, 185, 126, 0.993);
}
.logo{
      font-size: 25px;
}
#M-el{
 color:orangered ;
 font-family: elephant;
 font-weight: 300;
 text-decoration: none;
 
}
#b-s{
color: rgb(230, 222, 217);
text-decoration: none;
}

.navbar{
        font-size: 18px;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
        top: 0;
        left: 0;
}
.bg-body-light .navbar-nav .nav-link{
                                     padding: 0 20px;
                                     color: #000;
                                     transition: 0.4s ease;
                                     font-weight: 600;
}


.bg-body-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.bg-body-light .navbar-nav .nav-link.active
.navbar i:hover{
                color: rgb(247, 208, 135);
                font-weight: 600;
}
.navbar i{
          font-size: 1.2rem;
          padding: 0 0.7px;
          transition: 0.4s ease;
          cursor: pointer;
          margin-left: 5px;
}
#brand {
        background-color: white;
        cursor: pointer;
}
#brand:hover{
             background-color: rgba(172, 255, 47, 0.192);
             transition: 0.5s ease;
}
/*scrollbarre css*/
::-webkit-scrollbar{
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
        background-color: rgba(83, 185, 126, 0.993);
}

#home {
      background-image: url("../imgs/M-électronic_bg.png");
      width: 100%;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: space-between ;
      align-items: last baseline;
      background-color: rgb(253, 252, 252);
      cursor: pointer;
}
#home:hover{
            background-color: rgba(224, 255, 255, 0.425) ;
}
#home .left{
            width: 30%;
            margin-top: 9%;
            margin-right: 9%;
}
#home .left .bg-reparer{
                        background-color: rgba(53, 51, 51, 0.034);
}
#home .left h3{
               font-size: 22px;
               margin-bottom: 10px;
               font-weight: 600;
}
#home h3 span{
              color: coral;
              font-weight: 400;
}
#home .left p{
              margin-bottom: 30px;
              color: #494848;
              font-weight: 400;
}
#Nos-produits{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
 }
 .section-title{
        text-transform: uppercase;
        position: relative;
        font-size: 25px;
}
.section-title::before{
        position: absolute;
        left: 10px;
        bottom: 0;
        content: "";
        background-color: #ea1f33;
        width: 100%;
        height: 5px;
        border-radius: 6px;

}
.section-title::after{
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        content: "";
        background-color: #ea1f33;
        width: 100%;
        height: 5px;
        border-radius: 6px;

}
.images{
margin :100px auto;
padding: 0 8%;
}
.images ul{
display: flex;
flex-wrap: wrap;
width: 100%;
}
.images li{
display: flex;
flex-direction: column;
align-items: center;
margin: 2.665%;
transition: 0.5s;
height: 300px;
width: 28%;
}
.images li div{
width: 100%;
height: 100%;
}
.images li div img{
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.images li:hover{
        transform: scale(1.1);
        margin: 10px;
}
.images li span{
       color: #000;
       font-size: 18px;
       font-weight: 600;
}
#Nos-produits li span.prix{
         color: #ea1f33;
         font-weight: bold; 
         margin-bottom: 10px;
}
#Nos-produits li a{
 background-color: orangered;
 color: #fff;
 padding: 5px 20px;
 font-size: 15px;
 cursor: pointer;
}
#Nos-produits li a:hover{
       background-color: rgba(83, 185, 126, 0.993);
}
#services{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 flex-direction: column;
}
.list-services{
      margin: 100px 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
}
.service{
width: 25%;
text-align: center;
justify-content: space-between;
flex-direction: column;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
padding: 20px;
margin: 20px;
}
.service i{
  font-size: 25px;
  height: 50px;
  width: 50px;
  display: inline;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 68, 0, 0.644);
  color: #fff;
  border-radius: 20%;
  margin-bottom: 10px;

 
}
.service h3{
   font-size: 18px;
   margin-bottom: 10px;
}
.service p{
  font-size: 12px;
}
.service a{
  margin-top: 10px;
  color: #ea1f33;
  padding: 2.5px 20px;
  border: 1px solid #ea1f33;
  font-size: 12px;
  
}



/* Button de la page */
button{
       background-color: orangered;
       padding: 10px 20px;
       font-size: 14px;
       color: #fff;
       transition: 0.5s;
}
button:hover{
             background-color: rgba(83, 185, 126, 0.993) ;
}


#new .one img{
              width: 100%;
              height: 100%;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
}
#new .one{
          position: relative;
}
#new .one .details{
                   position: absolute;
                   top: 0;
                   left: 0;
                   color: burlywood;
                   font-weight: bold;
                   transition: 0.4s ease;
                   opacity: 0.8;
                   background-color: rgb(1, 1,1);
                   width: 100%;
                   height: 100%;
}
#new .one .details:hover{
                         background-color: cornsilk;
}
#new .one:nth-child(1) .details{
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                align-items: flex-start;
                                text-align: start;
}
#new .one:nth-child(2) .details{
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                align-items: center;
                                text-align: center;
}
#new .one:nth-child(3) .details{
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                align-items: flex-end;
                                text-align: end;
}


/* Produits */

#banner{
        background-image: url("../imgs/gif-reparer.gif");
        width: 100%;
        height: 60vh;
        background-size: cover;
        background-position-x: center;
        background-position-y: bottom;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        cursor: pointer;
}
#banner h4{
           font-family: 'algerian';
           color: rgb(190, 243, 190) ;
           font-size: 10;
}
#banner h5{
           color: #fff;
           font-weight: 800;
}
#banner h5 a{
             text-decoration: none;
             color: rgb(255, 72, 6);
             font-family: Algerian;
             font-size: 25px;
}

@media only screen and (max-width:990px){
                                         .nav-buttons{
                                                      margin: 10px;
                                         }
                                         .nav-buttons ul{
                                                         margin: 1rem;
                                                         justify-content: flex-start;
                                                         align-items: flex-start;
                                                         text-align: left;
                                         }
                                         .nav-buttons ul .fas{
                                                              margin: 20px 5px 10px 20px;
                                         }
                                         #banner h4{
                                                    font-size: 20px;
                                         }
                                         #new .one:nth-child(1) .details{
                                                align-items: center;
                                                                            
                                         }
                                         #new .one:nth-child(2) .details{
        align-items: center;
                                         }
                                         #new .one:nth-child(3) .details{
        align-items: center;
                                         }
                                        
                                         
                                    }     
                                    
@media only screen and (max-width:1065px) {
                                           .logo{
                                                 font-size: 20px;
                                           }
                                           .images li:hover{
                                                transform: scale(1.1);
                                                margin: 10px;
                               }
                               .images li span{
                                               color: #000;
                                               font-size: 17px;
                                               
                               }
                               #Nos-produits li span.prix{
                                                 color: #ea1f33;
                                                 font-weight: bold; 
                                                 margin-bottom: 10px;
                               }
                               #Nos-produits li a{
                                         background-color: orangered;
                                         color: #fff;
                                         padding: 5px 20px;
                                         font-size: 15px;
                                         cursor: pointer;
                               }
                               #Nos-produits li a:hover{
                                               background-color: rgba(83, 185, 126, 0.993);
                               }
                               #services{
                                         display: flex;
                                         align-items: center;
                                         justify-content: center;
                                         width: 100%;
                                         flex-direction: column;
                               }
                               .list-services{
                                              margin: 100px 0;
                                              display: flex;
                                              flex-wrap: wrap;
                                              align-items: center;
                                              justify-content: center;
                                              width: 100%;
                               }
                               .service{
                                        width: 25%;
                                        text-align: center;
                                        justify-content: space-between;
                                        flex-direction: column;
                                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                                        padding: 20px;
                                        margin: 20px;
                               }
                               .service i{
                                          font-size: 25px;
                                          height: 50px;
                                          width: 50px;
                                          display: inline;
                                          align-items: center;
                                          justify-content: center;
                                          background-color: rgba(255, 68, 0, 0.644);
                                          color: #fff;
                                          border-radius: 20%;
                                          margin-bottom: 10px;
                               
                                         
                               }
                               .service h3{
                                           font-size: 18px;
                                           margin-bottom: 10px;
                               }
                               .service p{
                                          font-size: 12px;
                               }
                               .service a{
                                          margin-top: 10px;
                                          color: #ea1f33;
                                          padding: 2.5px 20px;
                                          border: 1px solid #ea1f33;
                                          font-size: 12px;
                                          
                               }
}
@media only screen and (max-width:1019px){
                                          .logo{
                                                font-size: 18px;
                                          }
}      
@media only screen and (max-width:999px){
                                          .logo{
                                                font-size: 16px;
                                          }
                                          
                                          }     
@media only screen and (max-width:720px){
        #home {
                background-image: url("../imgs/M-électronic_bg.png");
                width: 100%;
                background-repeat: no-repeat;
                align-items: normal;
          }
           #home p{
                   font-size: 0.1px;
           }
           #home .left h3{
                          font-size: 22px;
           }
           .images span.Model{
                              font-size: 12px;
}
}                                          