@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "poppins","sans-serif";
    box-sizing: border-box;
    transition: all.2s linear;
    text-decoration: none;
    border: none;
}
html{
     font-size: 62.5%;
     overflow-x: hidden;
     scroll-padding-top:7em;
     scroll-behavior: smooth;
}
body{
     position: relative;
}
/*Début de l'en-tête de la page*/
header{
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       z-index: 20;
       background-color: #fff;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 10px 8%;
       height: 50px;
       box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
#text-bg{
             color:rgba(83, 185, 126, 0.993);
             font-family: elephant;
             font-weight: bold;
}
#M-el{
      color:orangered ;
      font-family: elephant;
      font-weight: 300;
      text-decoration: none;
      
}
#b-s{
     color: rgb(230, 222, 217);
     text-decoration: none;
}
.menu{
    display: flex;
}
.menu li{
         list-style: none;
         margin: 0 15px;
}
.menu li a{
           font-size: 14px;
           color: #000;
           font-weight: 300;
           transition: 0.2s;
}
.menu li a:hover{
                 color: #ea1f33;
                 cursor: pointer;
                 padding: 5px 25px;
}
header button{
              background-color:orangered;
              cursor: pointer;
              color: #fff;
              padding: 5px 25px;
}
header button:hover{
                    background-color: rgba(83, 185, 126, 0.993);
                    cursor: pointer;
                    color: #fff;
                    padding: 5px 25px;
}
/*Fin de l'en-tête de la page*/


#home{
      margin-top: 50px;
      height: calc(100vh - 50px);
      padding: 0 8%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
}

/*scrollbarre css*/
::-webkit-scrollbar{
                    width: 8px;
                    background-color: transparent;
}
::-webkit-scrollbar-thumb{
                          background-color: rgba(83, 185, 126, 0.993);
}
/*Responsive*/
@media(max-width:682px){
                        header{
                               padding: 0 10px;
                        }
                        header .menu{
                                     display: none;
                        }
                        #home{
                              padding: 0 10px;
                              justify-content: center;
                              flex-direction: column;
                        }
                       
                    }
main{
     background-color: #f0f2f5;
     position: relative;
} 
.container{
           margin: 0 15px;
           display: flex;
           align-items: center;
           justify-content: space-between;
           height: 100vh;
}                     
main{
     display:flex ;
     height: 100vh;
     justify-content:center ;
     align-items:center ;
    
}
/*Début du formulaire de connexion*/
.contenu{
           width: 100%;
           max-width: 500px;
           background: rgba(15, 14, 14, 0.5);
           padding: 28px;
           margin: 0 28px;
           border-radius: 10px;
           box-shadow: inset -2px 2px 2px white;
}

.Coco{
      font-family: Algerian;
      color: rgba(135, 238, 149, 0.733);
      font-weight: bold;
}
.Mot-o{
       color:orangered;
}
.Mot-o:hover{
       color:rgb(92, 4, 4);
}
.Ins-v{
       color: green;
}

.Ins-v:hover{
             color: greenyellow;
}
.t-y{
    color: rgb(250, 235, 215);
    opacity: 0.5;
}
/*Fin du formulaire de connexion*/
/*Fin du corps de la page*/
/*Début du peid de la page*/
footer{
    height: 10vh
}  
footer p{
      text-align: center;
      line-height: 10vh;
}   
footer p a{
        text-decoration: none;
        color: #f63e4e;
        font-family: elephant;
}   
/*Fin du pied de la page*/

