@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "poppins","sans-serif";
    box-sizing: border-box;
    transition: all.2s linear;
    text-decoration: none;
    border: none;
}
html{
     font-size: 62.5%;
     overflow-x: hidden;
     scroll-padding-top:7em;
     scroll-behavior: smooth;
}
body{
     position: relative;
}
/*Début de l'en-tête de la page*/
header{
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       z-index: 20;
       background-color: #fff;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 10px 8%;
       height: 50px;
       box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.bg-e{
       color:rgba(83, 185, 126, 0.993);
       font-family: elephant;
       font-weight: bold;
}
.bg-e:hover{
            color:rgba(83, 185, 126, 0.993);
}
#M-el{
      color:orangered ;
      font-family: elephant;
      font-weight: 300;
      text-decoration: none;
      
}
#b-s{
     color: rgb(230, 222, 217);
     text-decoration: none;
}
.menu{
    display: flex;
}
.menu li{
         list-style: none;
         margin: 0 15px;
}
.menu li a{
           font-size: 14px;
           color: #000;
           font-weight: 300;
           transition: 0.2s;
}
.menu li a:hover{
                 color: #ea1f33;
                 cursor: pointer;
                 padding: 5px 2px;
}

/*Fin de l'en-tête de la page*/


#home{
      margin-top: 50px;
      height: calc(100vh - 50px);
      padding: 0 8%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
}

/*scrollbarre css*/
::-webkit-scrollbar{
                    width: 8px;
                    background-color: transparent;
}
::-webkit-scrollbar-thumb{
                          background-color: rgba(83, 185, 126, 0.993);
}

#home .left{
            width: 40%;
}
#home .left h1{
               font-size: 32px;
               margin-bottom: 10px;
}
#home .left h1 span{
                   color: #ea1f33;
}
#home .left p{
              margin-bottom: 30px;
              color: #999;
}
#home .left a{
              background-color: orangered;
              padding: 10px 20px;
              font-size: 14px;
              color: #fff;
              transition:0.5s ;
}
#home .left a:hover{
                    background-color: rgba(83, 185, 126, 0.993);
}
#home .right{
             width: 50%;
             display: flex;
             align-items: center;
             justify-content: center;
}
#home .right img{
                 width: 100%;
}
#Nos-produits{
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
}
.section-title{
               text-transform: uppercase;
               position: relative;
               font-size: 25px;
}
.section-title::before{
                       position: absolute;
                       left: 10px;
                       bottom: 0;
                       content: "";
                       background-color: #ea1f33;
                       width: 100%;
                       height: 5px;
                       border-radius: 6px;

}
.section-title::after{
                       position: absolute;
                       left: -10px;
                       top: 0;
                       bottom: 0;
                       content: "";
                       background-color: #ea1f33;
                       width: 100%;
                       height: 5px;
                       border-radius: 6px;

}
.images{
        margin :100px auto;
        padding: 0 8%;
}
.images ul{
           display: flex;
           flex-wrap: wrap;
           width: 100%;
}
.images li{
           display: flex;
           flex-direction: column;
           align-items: center;
           margin: 2.665%;
           transition: 0.5s;
           height: 300px;
           width: 28%;
}
.images li div{
               width: 100%;
               height: 100%;
}
.images li div img{
                   height: 100%;
                   width: 100%;
                   margin-bottom: 5px;
                   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.images li:hover{
                 transform: scale(1.1);
                 margin: 10px;
}
.images li span{
                color: #000;
                font-size: 18px;
}
#Nos-produits li span.prix{
                  color: #ea1f33;
                  font-weight: bold; 
                  margin-bottom: 10px;
}
#Nos-produits li a{
          background-color: orangered;
          color: #fff;
          padding: 5px 20px;
          font-size: 15px;
          cursor: pointer;
}
#Nos-produits li a:hover{
                background-color: rgba(83, 185, 126, 0.993);
}
#services{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          flex-direction: column;
}
.list-services{
               margin: 100px 0;
               display: flex;
               flex-wrap: wrap;
               align-items: center;
               justify-content: center;
               width: 100%;
}
.service{
         width: 25%;
         text-align: center;
         justify-content: space-between;
         flex-direction: column;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
         padding: 20px;
         margin: 20px;
}
.service i{
           font-size: 25px;
           height: 50px;
           width: 50px;
           display: inline;
           align-items: center;
           justify-content: center;
           background-color: rgba(255, 68, 0, 0.644);
           color: #fff;
           border-radius: 20%;
           margin-bottom: 10px;

          
}
.service h3{
            font-size: 18px;
            margin-bottom: 10px;
}
.service p{
           font-size: 12px;
}
.service a{
           margin-top: 10px;
           color: #ea1f33;
           padding: 2.5px 20px;
           border: 1px solid #ea1f33;
           font-size: 12px;
           
}
#contact{
         height: 100vh;
         display: flex;
         align-items: center;
         flex-direction: column;
         text-align: center;
         padding:0 12% ;
}
.losalisation_contact_div{
                       display: flex;
                       align-items: center;
                       justify-content: space-between;
                       width: 100%;
                       margin: 100px 0;
}
.localisation{
              width: 49%;
              padding: 15px;
              border-radius: 6px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
              
}
.localisation iframe{
                     width: 100%;
                     border-radius: 6px;
                     
}
.losalisation_contact_div .form-contact{
                                     width: 49%;
                                     height: 100%;
                                     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                                     padding: 15px; 
                                     border-radius: 6px;
                                  
}
.losalisation_contact_div h3{
                          margin-bottom: 10px;
                          font-size: 18px;
}
.losalisation_contact_div .form-contact form{
                                             display: flex;
                                             align-items: center;
                                             justify-content: center;
                                             flex-direction: column;
                                             width: 100%;
}
.form-contact form input , textarea{
                                    border: 1px solid #ccc;
                                    width: 100%;
                                    margin-bottom: 15px;
                                    padding: 5px;
                                    outline: 0;
                                    border-radius: 6px;
                                    font-size: 13px;
                                    resize: none;
}
.form-contact form input[type="submit"]{
                                        margin-bottom: 0;
                                        background-color: orangered;
                                        color:#fff;
                                        border: 0;
}
.form-contact form input[type="submit"]:hover{
                                              background-color: rgba(83, 185, 126, 0.993);
}

.menu-toggle{
             display: none;
}
/*Responsive*/





@media(max-width:682px){
       header{
              padding: 0 10px;
       }
       header .menu li a{
                       font-size: 20px;
       }
       #home{
             padding: 0 10px;
             justify-content: center;
             flex-direction: column;
       }
       #home .left , #home .right{
                                  width: 100%;
       }
       #home h1{
                margin-top: 100px;
       }
       #home .right img{
                        width: 73%;
       }
       .images span.Model{
                          font-size: 11px;
                          font-weight: 400;
       }
       .images span.prix{
                         font-size: 15px;
       }
      
       #services{
                 padding: 0 5px;
       }
       .service{
                width: 100%;
       }
       .losalisation_contact_div{
                                 height: auto;
                                 flex-direction: column;
                                 width: 100%;
       }
       .localisation{
                     width: 100%;
                     margin-bottom: 30px;
       }
       .losalisation_contact_div .form-contact{
                                               width: 100%;

       }


}